html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

button {
	padding: 0;
	outline: none;
	border: 1px solid transparent;
}

.seven {
	background: url("../images/7.jpg") top no-repeat;
	background-size: cover;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: no-wrap;
	flex-wrap: no-wrap;

}

.colorone {
	color: #fff;
	font-size: 35px;
	margin-bottom: 15px;
	margin-right: 10px;
}

.logo-contact {
	width: 45px;
	height: 45px;
	position: absolute;
}

.seven:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
	z-index: 2;
}

.container {
	margin: 0 auto;
	max-width: 1170px;
	width: 100%;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}
}

@media (max-width: 1024px) {
	.container {
		max-width: 720px;
	}

	.d-flex {
		justify-content: center;
		text-align: center;
	}

	.form-inp {
		width: 63%;
	}

	.button-form {
		margin-left: 4%;
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 540px;
	}

	.autom {
		margin: 0 auto;
		margin-bottom: 40px;
	}

	.d-flex {
		flex-wrap: wrap !important;
		justify-content: center !important;
	}

	.form-inp {
		width: 55%;
	}

	.button-form {
		margin-left: 0 !important;
		margin: 0 auto !important;
		width: 55%;
		height: 28px;
		font-size: 16px;
	}

	.form {
		text-align: center !important;
	}
}

@media (max-width: 576px) {
	.container {
		width: 100%;
		padding: 0 10px;
	}

	.autom {
		margin: 0 auto;
		margin-bottom: 40px !important;
	}

	#forms {
		width: 390px !important;
	}

}

@font-face {
	font-family: "GothamProRegular";
	src: url("../fonts/GothamPro.ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "BebasNeueBold";
	src: url("../fonts/BebasNeueBold.ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "BebasNeueRegular";
	src: url("../fonts/BebasNeueRegular.ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "GothamProMedium";
	src: url("../fonts/GothamPro-Medium.ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Merriweather", serif;
	src: url("../fonts/GothamPro-Light.ttf");
	font-style: normal;
	font-weight: normal;
}

.btn {
	outline: none;
	border: 1px solid #000;
	border-radius: 5px;
	max-width: 300px;
	width: 100%;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: no-wrap;
	flex-wrap: no-wrap;
	height: 60px;
	-webkit-transition: all .4s linear;
	-o-transition: all .4s linear;
	transition: all .4s linear;
	background-color: transparent;
	color: #000;
	font-family: "BebasNeueRegular", sans-serif;
	letter-spacing: 3px;
	font-size: 18px;
}

.btn:hover {
	background-color: #000;
	color: #fff;
}

.btn.small {
	height: 40px;
	border: 1px solid #fff;
	color: #ffffff;
	max-width: 200px;
	margin: 20px 0 0 0;
}

.btn.small:hover {
	color: #a99079;
	background-color: #fff;
}

@media (max-width: 576px) {
	.btn {
		height: 58px;
		font-size: 15px;
		max-width: 250px;
		margin: 0 auto;
	}
}

.section {
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	max-height: 100%;
	position: relative;
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: no-wrap;
	flex-wrap: no-wrap;
}

.page {
	position: relative;
}

.first {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: no-wrap;
	flex-wrap: no-wrap;
}

div.first {
	background-color: rgba(0, 0, 0, 0.5);
	background-size: cover;
	position: relative;
}

div.first::before {
	content: "";
	background: url("../images/main.png") center no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.8;
	z-index: -1;
}

div.first::after {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	content: '';
	left: 0;
	top: 0;
}

.first-txt {
	color: #ffffff;
	font-family: 'Merriweather', serif;
	font-size: 40px;
	letter-spacing: 2px;
	text-align: center;
	margin: 0 0 50px 0;
	font-weight: 600;
}

@media (max-width: 768px) {
	.first-txt {
		font-size: 30px;
	}
}

@media (max-width: 576px) {
	.first-txt {
		font-size: 20px;
	}
}

.first-txt span {
	display: block;
	font-size: 90px;
	margin: 0 0 30px 0;
	font-family: 'Merriweather', serif;
}

@media (max-width: 1200px) {
	.first-txt span {
		font-size: 90px;
	}
}

@media (max-width: 1024px) {
	.first-txt span {
		font-size: 90px;
	}
}

@media (max-width: 768px) {
	.first-txt span {
		font-size: 80px;
	}
}

@media (max-width: 768px) {
	.first-txt span {
		font-size: 40px;
	}
}

.first-btn {
	color: #fff;
	margin: 0 auto;
	padding: 0 10px;
	border: 2px solid #fff;
}

.first-btn:hover {
	background-color: #000;
}

.header {
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	z-index: 10;
	padding: 15px 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: no-wrap;
	flex-wrap: no-wrap;
}

.header-logo {
	max-width: 95px;
}

@media (max-width: 768px) {
	.header-logo {
		max-width: 60px;
	}
}

@media (max-width: 576px) {
	.header-logo {
		-webkit-transition: margin .5s linear;
		-o-transition: margin .5s linear;
		transition: margin .5s linear;
	}
}

.menu-wrap {
	height: 100vh;
	position: fixed;
	z-index: 11;
	max-width: 320px;
	padding: 15px 20px;
	width: 100%;
	top: 0;
	right: -320px;
	background: rgba(0, 0, 0, 0.9);
	background-size: cover;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: no-wrap;
	flex-wrap: no-wrap;
	-webkit-transition: right .5s linear;
	-o-transition: right .5s linear;
	transition: right .5s linear;
}

.menu-wrap.active {
	right: 0px;
}

.menu-lang-wrap {
	font-size: 40px;
	letter-spacing: 3px;
	font-family: "BebasNeueRegular", sans-serif;
	color: #ffffff;
	width: 100%;
	max-width: 200px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: no-wrap;
	flex-wrap: no-wrap;
	position: relative;
	margin: 0 auto 50px auto;
}

.menu-lang-wrap .line {
	position: absolute;
	left: 0px;
	bottom: 0;
	height: 3px;
	width: 40px;
	background-color: #fff;
	border-radius: 5px;
	content: '';
	-webkit-transition: left .3s linear;
	-o-transition: left .3s linear;
	transition: left .3s linear;
}

.menu-lag-item {
	cursor: pointer;
}

.menu-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: no-wrap;
	flex-wrap: no-wrap;
	height: 200px;
	margin: 0 0 50px 0;
}

.menu-list-item {
	color: #ffffff;
	font-size: 28px;
	cursor: pointer;
	font-family: 'Merriweather', serif;
	border-bottom: 2px solid transparent;
}

.menu-list-item:hover {
	border-bottom: 2px solid #fff;
}

img.menu-list-item {
	border-bottom: none !important;
}

.menu-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: no-wrap;
	flex-wrap: no-wrap;
	max-width: 180px;
	width: 100%;
}

.burger-wrap {
	width: 50px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.3);
	position: relative;
	border-radius: 100%;
	cursor: pointer;
	z-index: 1000;
	-webkit-transition: all .3s linear .2s;
	-o-transition: all .3s linear .2s;
	transition: all .3s linear .2s;
}

.burger-wrap.active {
	margin: 0 200px 0 0;
	background-color: #fff;
}

.burger-wrap.active .burger-item {
	background-color: #000;
}

.burger-wrap:hover {
	background-color: #fff;
}

.burger-wrap:hover .burger-item {
	background-color: #000;
}

.burger-item {
	height: 2px;
	width: 60%;
	position: absolute;
	left: 20%;
	margin: 3px 0;
	background-color: #fff;
	-webkit-transition: all .5s linear;
	-o-transition: all .5s linear;
	transition: all .5s linear;
}

.burger-item:nth-child(1) {
	top: 10px;
}

.burger-item:nth-child(2) {
	top: 20px;
}

.burger-item:nth-child(3) {
	top: 30px;
}

.burger-wrap.active .burger-item:nth-child(2) {
	display: none;
}

.burger-wrap.active .burger-item:nth-child(1) {
	top: 20px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.burger-wrap.active .burger-item:nth-child(3) {
	top: 20px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.second {
	background-color: rgba(0, 0, 0, 0.5);
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	background-size: cover;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: no-wrap;
	flex-wrap: no-wrap;
}

.second::before {
	content: "";
	background: url("../images/price.png") top no-repeat;
	background-color: rgba(0, 0, 0, 0.5);
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

@media (max-width: 768px) {
	.second::before {
		background-position: left;
	}
}

.title {
	color: #fff;
	font-size: 80px;
	font-family: "Merriweather", serif;
	margin: 0 0 30px 0;
	text-align: center;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

@media (max-width: 768px) {
	.title {
		font-size: 70px;
	}
}

@media (max-width: 576px) {
	.title {
		font-size: 36px;
	}
}

.title-img {
	max-width: 60px;
	height: auto;
	filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7492%) hue-rotate(218deg) brightness(98%) contrast(99%);
}

@media (max-width: 768px) {
	.title-img {
		max-width: 50px;
	}
}

@media (max-width: 576px) {
	.title-img {
		max-width: 32px;
	}
}

.subtitle {
	font-size: 34px;
	margin: 0 0 10px 0;
	font-family: "GothamProMedium", sans-serif;
}

@media (max-width: 768px) {
	.subtitle {
		font-size: 26px;
	}
}

@media (max-width: 768px) {
	.subtitle {
		font-size: 22px;
	}
}

.dots {
	width: 100%;
	height: 12px;
	margin: 0 2px;
	background: url("../images/circle.svg") repeat-x bottom;
}

.services {
	display: flex;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	flex-wrap: no-wrap;
	margin: 0 0 40px 0;
}

@media (max-width: 768px) {
	.services {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		flex-wrap: no-wrap;
	}
}

.services-item {
	color: #fff;
}

@media (max-width: 768px) {
	.services-item {
		width: 100%;
		margin: 0 0 20px 0;
	}
}

.services-item-field {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: no-wrap;
	flex-wrap: no-wrap;
	width: 100%;
	color: #fff;
	overflow: hidden;
	margin: 0 0 8px 0;
}

.services-item-field-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: no-wrap;
	flex-wrap: no-wrap;
	height: 400px;
}

.services-item-field-txt {
	font-family: "GothamProRegular", sans-serif;
	font-size: 20px;
	z-index: 10;
	display: inline-block;
	white-space: nowrap;
}

@media (max-width: 576px) {
	.services-item-field-txt {
		font-size: 18px;
	}
}

.three {
	background: url("../images/3.jpg") top no-repeat;
	background-size: cover;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: no-wrap;
	flex-wrap: no-wrap;
}

.three::after {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	content: '';
	left: 0;
	top: 0;
}

.desc-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: no-wrap;
	flex-wrap: no-wrap;
}

@media (max-width: 768px) {
	.desc-wrap {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-wrap: no-wrap;
		flex-wrap: no-wrap;
	}
}

.desc-item {
	width: 42%;
	color: #ffffff;
	font-size: 20px;
	margin: 0 0 10px 0;
	font-family: "GothamProRegular", sans-serif;
	line-height: 1.6;
}

@media (max-width: 768px) {
	.desc-item {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.desc-item {
		font-size: 18px;
	}
}

.mb {
	margin-bottom: 60px;
}

.four {
	background-color: rgba(0, 0, 0, 0.5);
	background-size: cover;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: no-wrap;
	flex-wrap: no-wrap;
	overflow: hidden;
	height: auto;
	padding: 50px 0;
}

.four::before {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	background: url("../images/barbers.png") top no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.four::after {
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	left: 0;
	top: 0;
}

.slider-item img {
	max-width: 350px;
	-webkit-transform: scale(1.4);
	-ms-transform: scale(1.4);
	transform: scale(1.4);
	z-index: -1;
	width: 300px;
	height: 300px;
}

.slider {
	overflow: hidden;
	width: 100%;
}

@media (max-width: 1024px) {
	.slider {
		width: 100%;
	}
}

.slider-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

@media (max-width: 1024px) {
	.slider-wrap {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}

.slider-item {
	margin: 25px;
	max-width: 300px;
	height: 300px;
	/*  border-radius: 100%; */
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: no-wrap;
	flex-wrap: no-wrap;
	cursor: pointer;
	position: relative;
	width: 300px;
	height: 300px;
}

@media (max-width: 1024px) {
	.slider-item {
		margin: 20px auto;
	}
}

.link-button {
	display: flex;
}

.link-button1 {
	margin-right: 35px !important;
}

.info-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 3px solid white;
	/*  border-radius: 100%; */
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: no-wrap;
	flex-wrap: no-wrap;
	-webkit-transition: all .5s linear;
	-o-transition: all .5s linear;
	transition: all .5s linear;
}

.name {
	font-size: 40px;
	font-family: "GothamProMedium", sans-serif;
	color: #fff;
	text-align: center;
}

.gradation {
	font-size: 20px;
	color: #fff;
	margin-top: 10px;
}

.btn.small {
	padding: 0 10px;
}


.six {
	height: 100% !important;
}


.title-form {
	margin-bottom: 10px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;

}

.d-flex {
	display: flex;
	justify-content: space-between;
}

#forms {
	width: 535px;
}

.form {
	text-align: left;
	font-size: 33px;
	border-radius: 4px;
	padding-top: 8px;

}

.button-form {
	z-index: 33;
	margin: 0 auto;
	outline: none;
	border: 1px solid #a99079;
	margin-left: 12%;
	border-radius: 5px;
	max-width: 300px;
	width: 100%;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: no-wrap;
	flex-wrap: no-wrap;
	height: 30px;
	-webkit-transition: all .4s linear;
	-o-transition: all .4s linear;
	transition: all .4s linear;
	background-color: transparent;
	color: #a98f79;
	font-family: "BebasNeueRegular", sans-serif;
	letter-spacing: 3px;
	font-size: 18px;
}

form {
	margin: 0 auto;

}

.form-inp {
	margin-bottom: 30px;
	border-radius: 5px;
	height: 30px;
	width: 80%;
}

.hidden {
	display: none;
}

.link-form {
	color: #a99079;
}

/*

.img1{
  margin-top: 292px;
  margin-right: 46px;
}
.img3{
  margin-top: -19px;
  margin-right: 161px;

  max-width: 400px!important;

  margin-top: 5px;
  margin-right: 181px;
}
.img2{

  margin-top: 50px;
  margin-right: 40px;
  max-width: 375px!important;
}

.img4{

  margin-top: 60px;
  margin-right: 95px;

  max-width: 390px!important;
}
*/



.title.black {
	color: #000;
}

@media (max-width: 768px) {
	.title.black {
		text-align: center;
	}
}

.five {
	background-color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: no-wrap;
	flex-wrap: no-wrap;
}

.contacts-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: no-wrap;
	flex-wrap: no-wrap;
	margin: 0 0 30px 0;
}

@media (max-width: 768px) {
	.contacts-wrap {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-wrap: no-wrap;
		flex-wrap: no-wrap;
	}
}

.contact-item {
	color: #000;
	font-size: 28px;
	max-width: 30%;
	line-height: 1.5;
	width: 100%;
	font-family: "GothamProMedium", sans-serif;
}

@media (max-width: 768px) {
	.contact-item {
		max-width: 100%;
		width: 100%;
		text-align: center;
	}
}

@media (max-width: 576px) {
	.contact-item {
		font-size: 24px;
	}
}

.contact-item span {
	display: block;
	width: 100%;
}

.contact-item a {
	margin: 0 20px;
}

@media (max-width: 768px) {
	.btn.contact {
		margin: 0 auto;
	}
}

@media (max-width: 576px) {
	.margin {
		margin: 0 0 0 -130px;
	}

	.section.three,
	.section.seven {
		height: 125vh;
	}
}

@media (max-width: 1024px) {
	.section.four {
		height: 100%;
		padding: 50px 0;
	}
}

@media (max-width: 1024px) {
	.section.second {
		height: 100%;
		padding: 50px 0;
	}
}


.telephone {
	margin: 0 !important;
	display: block;
	width: 100%;
	color: #000;
}

.telephone:hover {
	color: #000;
	text-decoration: none;
}


.first .container {
	position: relative;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.first-txt {
	animation: slide-up 2.0s ease forwards;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.first-btn {
	animation: slide-up 3.0s ease forwards;
}

div.section.first {
	animation: scale-out .5s ease forwards;
}

.contact-wrapper {
	display: flex;
	align-items: center;
	gap: 10px;
}

.contact-wrapper-item {
	display: flex;
	align-items: center;
}

.contact-wrapper-item.location-wrapper {
	cursor: pointer;
}

.contact-wrapper .location {
	filter: brightness(0) saturate(100%) invert(79%) sepia(72%) saturate(7486%) hue-rotate(336deg) brightness(85%) contrast(99%);
}

.contact-wrapper img {
	width: 25px;
}

.bottom-button {
	display: flex;
	justify-content: center;
}

@media (max-width: 768px) {
	.contact-wrapper {
		justify-content: center;
	}

	.telephone {
		width: fit-content;
	}
}

.price-section {
	width: 100%;
	margin: 0 180px;
	padding: 0 10px;
	border: 2px solid #fff !important;
	border-radius: 10px;
	box-shadow: 0 0 10px #fff !important;
}

.price-section .dots {
	background-size: 1px;
}

.price-section .services-item-field-txt {
	color: #fff !important;
	-webkit-text-fill-color: #fff !important;
	opacity: 1 !important;
	-webkit-opacity: 1 !important;
}

@media (max-width: 1024px) {
	.price-section {
		margin: 0px;
	}

	.price-section .services-item-field-txt {
		font-size: 14px !important;
	}
}


@keyframes slide-up {
	0% {
		transform: translateY(100vh);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes scale-out {
	0% {
		transform: scale(0.0);
	}

	100% {
		transform: scale(1.0);
	}
}